@media (max-width: 641px) {

	body .gform_wrapper .gform_page_footer .button.gform_next_button,
	body .gform_wrapper .gform_page_footer .button.gform_previous_button,
	body .gform_wrapper .gform_page_footer .button.gform_button {
		margin: 0 0 .5em;
	}

}

@media (min-width: 641px) {

	body .gform_wrapper .gform_body {
		width: ~"calc(100% + 16px)";
	}

	body .gform_wrapper .gform_footer a.gform_save_link,
	body .gform_wrapper .gform_page_footer a.gform_save_link {
		float: left;
	}

}
